
html,body{
	height:100%
}
body {
    width: 1000px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}

div {
	color:#000000;
    width: 100%;

}
div.wrapper {
    float: left;
    border-color: transparent;
    margin-bottom: 10px
}
.column {
    float: left;
    width: 47.5%;
    padding: 10px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.bottom-bar{border-bottom:4px solid #ccc;}
.border-green{border-color:#80AA44}
.hover-lightgrey:hover {background-color:#E6E6E6;}

button {
    /*color: white;*/
    margin: 10px 8px 10px 8px;
    width: 130px;
    background-color: rgba(245, 245, 245, 0.9);
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-radius:2px;
}
button.currentpage {
    background-color: rgba(230, 230, 230, 0.9);
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-radius:2px;
}


hr {
	border-style: none;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.1);
}

aside {
    float: left;
    width: 146px;
}

	

article {
    float: right;
    width: 810px;
    padding: 0px 2% 10px 2%;
    border-radius:3px;
    background-color: rgba(245,245,245,.8);
}



footer {
    float: left
}

img {
    height: 275px
}
img.banner {
    height: 100px
}

img.artwork {
    height: auto;
    width: 100%;
    transition: transform .2s;
}
.artwork:hover {
    -ms-transform: scale(1.75);
    -webkit-transform: scale(1.75);
    transform: scale(1.75);
}

h2 {
    font-size: 1.15em;
}
