body {
	background-image: url(../img/index/20171101-wolf.jpg);
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}