html,body{
	height:100%
}

body{
	background:url(../img/index/20171101-wolf.jpg) no-repeat center top fixed;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover
}

