body {
    background-color: #212424;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px
}

div {
    width: 100%;

}
div.wrapper {
    float: left;
    background-image: none;
    border-color: transparent;
    margin-bottom: 10px
}

aside {
    float: left;
    width: 146px;
    border-color: #151818;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius:3px;
    background-image: -webkit-gradient(
        linear,
	    left top,
        left bottom,
	    color-stop(0, #252828),
    	color-stop(0.5, #393f3f),
        color-stop(1, #252828)
    );
}

article {
    float: right;
    width: 810px;
    padding: 0px 15px 10px 15px;
    border-color: #151818;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius:3px;
    background-image: -webkit-gradient(
        linear,
	    left top,
        left bottom,
	    color-stop(0, #252828),
    	color-stop(0.5, #393f3f),
        color-stop(1, #252828)
    );
}

footer {
    float: left
}

img {
    height: 275px
}
img.banner {
    height: 100px
}

button {
    color: white;
    margin: 4px 8px 4px 8px;
    width: 130px;
    border-color: #1c1f1f;
    border-style: solid;
    border-width: 1px;
    border-radius:2px;
    background: linear-gradient(#393f3f,#232626);
}
button.currentpage {
    border-color: #1c1f1f;
    border-style: solid;
    border-width: 1px;
    border-radius:2px;
    background: linear-gradient(#232626,#393f3f);
}

h1 {
    font-variant: small-caps;
    color: white
}

h2 {
    font-size: 1.2em;
    color: white;
}

p {
    color: #CBCBD9;
}

a {
    color: #FFCC00;
}
